.about {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.about__content {
    max-width: 1200px;
    background-color: #1a202c;
    padding: 50px;
}

.about-content__sub-section-paragraph {
    line-height: 20px;
}

.about-content__section-title {
    border-bottom: 2px solid #fff;
    display: inline-block;
}

.about-content__sub-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
