.my-collection {
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my-collection .my-collection__token-balance {
    margin-top: 50px;
}

.my-collection__hero-card {
    max-width: 350px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.my-collection__selector .MuiInput-input,
.my-collection__selector label,
.my-collection__selector-comp .MuiSelect-icon {
    color: #fff;
    font-family: 'Pronciono';
}

.my-collection__selector-comp::before,
.my-collection__selector-comp::after {
    border-bottom: 1px solid white !important;
}

.my-collection__heroes {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}

.my-collection__heroes-item {
    width: calc(50% - 100px);
    margin: 50px;
}
