.app {
    text-align: center;
    padding: 0 15px;
}

#root {
    height: 100vh;
}

@media (min-width: 768px) {
    .app {
        padding: 100px;
    }
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('./fonts/LeagueSpartan-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('./fonts/LeagueSpartan-Bold.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Pronciono';
    src: url('./fonts/Prociono-Regular.woff') format('woff');
}

.league-spartan {
    font-family: 'LeagueSpartan';
}

.league-spartan--white {
    font-family: 'LeagueSpartan';
}

.page-header {
    font-family: 'LeagueSpartan' !important;
    font-size: 50px;
    color: #fff;
    font-weight: 500 !important;
    margin-bottom: 30px !important;
}

.pronciono {
    font-family: 'Pronciono' !important;
}

.pronciono--white {
    font-family: 'Pronciono' !important;
    color: #fff;
}

.black-transparent {
    background: rgba(0, 0, 0, 0.2);
}

.content-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.MuiListItem-button {
    font-family: 'Pronciono' !important;
}
