button.crypto-champion-button,
a.crypto-champion-button {
    background-color: #2196f3;
    font-family: 'LeagueSpartan';
    font-weight: bold;
}

button.crypto-champion-button.MuiButton-contained.Mui-disabled {
    color: #fff;
}

button.crypto-champion-button.crypto-champion-button--secondary {
    background-color: #9e9e9e;
}
