button.crypto-champion-button,
a.crypto-champion-button {
    background-color: #20a4f3;
    text-transform: none;
}

button.crypto-champion-button.MuiButton-contained.Mui-disabled {
    color: #fff;
}

button.crypto-champion-button.crypto-champion-button--secondary {
    background-color: #9e9e9e;
}
