.item-selector {
    text-align: center;
}

.item-selector h5.item-selector__title {
    font-family: 'LeagueSpartan';
    margin-bottom: 50px;
    font-size: 50px;
    color: #fff;
}

.item-selector .item-selector__caption,
.item-selector .item-selector__sub__caption {
    font-family: 'Pronciono';
    color: #fff;
}
