.item-selector {
    text-align: center;
}

.item-selector h5.item-selector__title {
    font-family: 'LeagueSpartan';
    margin: 50px 0 25px;
    font-style: italic;
    color: #fff;
}

.item-selector .item-selector__caption,
.item-selector .item-selector__sub__caption {
    font-family: 'Pronciono';
    color: #fff;
}

.item-selector__captions {
    margin: 50px 0;
}

.item-selector__caption-paragraph {
    text-align: center;
    color: #fff;
    max-width: 75%;
    margin: 30px auto;
}
