.weather-duel-tile .weather-duel-tile__action {
    font-family: 'Pronciono';
    margin-top: 5px;
    cursor: pointer;
}

.weather-duel-tile .weather-duel-tile__challenge {
    font-family: 'LeagueSpartan';
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.weather-duel-tile__actions {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-duel-tile .weather-duel-tile__action--green {
    color: #bada55;
}

.weather-duel-tile .weather-duel-tile__action--red {
    color: #fa3a3a;
}

.weather-duel-tile__modal {
    font-family: 'Pronciono';
}
