.weather-duel-tile .weather-duel-tile__action {
    margin-top: 5px;
    cursor: pointer;
}

.weather-duel-tile .weather-duel-tile__challenge {
    font-family: 'LeagueSpartan';
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.weather-duel-tile__actions {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-duel-tile .weather-duel-tile__action {
    color: #fff;
}

.weather-duel-tile .weather-duel-tile__action--green {
    color: #6dff96;
}

.weather-duel-tile .weather-duel-tile__action--red {
    color: #dc4949;
}

.weather-duel__image {
    max-width: 200px;
}

.weather-duel__battle-image {
    width: 100px;
    margin: 0 20px;
}

.weather-duel-tile__players {
    display: flex;
}

.weather-duel-tile__participant {
    display: flex;
    flex-direction: column;
}

.weather-duel-tile .weather-duel-tile__hero-name {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    display: block;
}

.weather-duel__center {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    align-items: center;
}

.weather-duel__actions {
    margin-top: 15px;
}
