.landing-page {
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page__img {
    max-width: 100%;
}

.landing-page__header {
    margin-bottom: 25px;
    font-weight: 500;
    text-align: center;
}

.landing-page__content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
}

@media (min-width: 768px) {
    .landing-page__img {
        max-width: 50%;
    }

    .landing-page__caption {
        padding-left: 15px;
    }

    .landing-page__header {
        margin-bottom: 50px;
        max-width: 2000px;
    }
}
