.landing-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
}

.landing-page__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.landing-page__text {
    order: 2;
}

.landing-page__image-container {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    max-width: 100px;
    min-width: 100px;
    height: 100px;
}

.landing-page__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 40px);
}

.landing-page__text-header,
.landing-page__text-caption {
    text-align: left;
}

.landing-page__text-header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.landing-page__text-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.landing-page__action {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .landing-page__content {
        flex-direction: row;
        max-width: 1200px;
        align-items: flex-start;
        padding-top: 50px;
    }

    .landing-page__text {
        margin-right: 50px;
        text-align: left;
        order: 1;
    }

    .landing-page__text-header,
    .landing-page__text-caption {
        text-align: left;
    }

    .landing-page__text-header {
        font-size: 48px;
    }

    .landing-page__text-caption {
        font-size: 18px;
    }

    .landing-page__image {
        width: calc(100% + 116px);
    }

    .landing-page__action {
        margin-top: 100px;
    }

    .landing-page__image-container {
        max-width: 320px;
        min-width: 320px;
        height: 320px;
        order: 2;
    }
}
