.gallery {
    padding: 50px 15px;
    background: #333333;
    min-height: 100%;
}

.gallery__tabs .MuiTabs-flexContainer {
    justify-content: center;
}

.gallery__tabs .gallery__tab-item {
    color: #fff;
    font-family: 'Pronciono';
}

.gallery__tabs .MuiTabs-indicator {
    background: #fff;
}

.gallery__no-duels {
    font-family: 'LeagueSpartan';
    text-align: center;
    color: #fff;
    padding-top: 100px;
    font-size: 30px;
}
