.gallery {
    padding: 50px 15px;
    background: #333333;
    height: 100%;
}

.gallery__tabs .MuiTabs-flexContainer {
    justify-content: center;
}

.gallery__tabs .gallery__tab-item {
    color: #fff;
    font-family: 'Pronciono';
}

.gallery__tabs .MuiTabs-indicator {
    background: #fff;
}
