.mint-character-workflow__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mint-character-workflow .mint-character-workflow__name {
    width: 300px;
    margin-bottom: 50px;
}
