.footer.MuiBottomNavigation-root {
    background-color: #1a202c;
    padding-top: 20px;
}

.footer.MuiBottomNavigation-root .footer__link.footer__text {
    font-family: 'LeagueSpartan';
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.footer.MuiBottomNavigation-root .footer__link.footer__text p {
    font-family: 'LeagueSpartan';
}
