.mint-elder-confirmation {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.mint-elder-confirmation__card-container {
    display: flex;
    padding: 15px;
    margin-top: 50px;
}

.mint-elder-confirmation__card-image img {
    width: 200px;
    margin-right: 20px;
}

.mint-elder-confirmation__info {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.mint-elder-confirmation__affinity {
    display: flex;
    align-items: flex-end;
}

.mint-elder-confirmation .mint-elder-confirmation__affinity-label {
    margin-right: 15px;
    padding-bottom: 6px;
}

.mint-elder-confirmation__selections-item {
    width: 50%;
    max-width: 300px;
    padding: 0 25px;
}

.mint-elder-confirmation__selections-item > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.mint-elder-confirmation .mint-elder-confirmation__affinity-selector-label,
.mint-elder-confirmation .mint-elder-confirmation__affinity-selector {
    color: #fff !important;
}

.mint-elder-confirmation .mint-elder-confirmation__affinity-selector {
    text-align: left;
}

.mint-elder-confirmation .mint-elder-confirmation__form-control {
    min-width: 200px;
}

.mint-elder-confirmation__affinity-selector::before,
.mint-elder-confirmation__affinity-selector::after {
    border-bottom: 1px solid white !important;
}

.mint-elder-confirmation__affinity-selector .MuiSelect-icon {
    color: #fff;
}

.mint-elder-spirit__actions {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mint-elder-spirit__nav {
    margin: 0 15px;
}
