.mint-elder-confirmation {
    text-align: center;
}

.mint-elder-confirmation__selections {
    display: flex;
    justify-content: center;
}

.mint-elder-confirmation__selections-item {
    width: 50%;
    max-width: 300px;
    padding: 0 25px;
}

h5.mint-elder-confirmation__select-affinity,
.mint-elder-confirmation .mint-elder-confirmation__affinity-selector-label,
.mint-elder-confirmation .mint-elder-confirmation__affinity-selector {
    color: #fff !important;
}

.mint-elder-confirmation .mint-elder-confirmation__affinity-selector {
    text-align: left;
}

.mint-elder-confirmation .mint-elder-confirmation__form-control {
    min-width: 200px;
    margin: 50px 0;
}

.mint-elder-confirmation .mint-elder-confirmation__affinity-selector-label,
li.mint-elder-confirmation__affinity-item,
.mint-elder-confirmation__affinity-selector-label,
.mint-elder-confirmation .mint-elder-confirmation__select-affinity,
.mint-elder-confirmation .mint-elder-confirmation__affinity-selector {
    font-family: 'Pronciono';
}

.mint-elder-confirmation__affinity-selector::before,
.mint-elder-confirmation__affinity-selector::after {
    border-bottom: 1px solid white !important;
}

.mint-elder-confirmation__affinity-selector .MuiSelect-icon {
    color: #fff;
}
