.mint-elder-confirmation {
    text-align: center;
}

.mint-elder-confirmation__selections {
    display: flex;
    justify-content: center;
}

.mint-elder-confirmation__selections-item {
    width: 50%;
    max-width: 300px;
    padding: 0 25px;
}

.mint-elder-confirmation__affinity-selector-container {
    margin: 50px 0;
}
