.item-grid-tile {
    text-align: center;
    position: relative;
}

.item-grid-tile .item-grid-tile__label {
    font-family: 'Pronciono';
}

.item-grid-tile:not(.item-grid-tile--black-text) .item-grid-tile__label {
    color: #fff;
}

.item-grid-tile__image {
    max-width: 100%;
}

.item-grid-tile--selectable {
    cursor: pointer;
}

.item-grid-tile--selected {
    border: 1px solid #fff;
}

.item-grid-tile--black-text.item-grid-tile--selected {
    border: 1px solid #000;
}

.item-grid-tile__decorator {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    color: #000;
    font-family: 'Pronciono';
    padding: 5px;
    font-weight: 10px;
}
