.item-grid-tile {
    text-align: center;
}

.item-grid-tile .item-grid-tile__label {
    color: #fff;
    font-family: 'Pronciono';
}

.item-grid-tile__image {
    max-width: 100%;
}

.item-grid-tile--selectable {
    cursor: pointer;
}

.item-grid-tile--selected {
    border: 1px solid #fff;
}
