.elder-card {
    background: #c4c4c4;
    border-radius: 5px;
    padding: 10px;
}

.elder-card img {
    max-width: 100%;
}

.elder-card .elder-card__label,
.elder-card__identifier {
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}
