.hero-card {
    width: 100%;
    max-width: 400px;
}

.hero-card__content {
    max-width: 100%;
    background: #242424;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px 20px 0;
}

.hero-card--selectable {
    cursor: pointer;
}

.hero-card img {
    max-width: 100%;
}

.hero-card__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hero-card .hero-card__name {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    display: block;
}

.hero-card__extension {
    text-align: left;
}

.hero-card__affinity {
    color: #fff;
}

.hero-card__extension .hero-card__extension-item {
    color: #fff;
}

.hero-card__name {
    margin-top: 15px;
}

.hero-card__stats {
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    background: #f6f8ff;
}

.hero-card__stats-top {
    text-align: center;
    margin-bottom: 10px;
}

.hero-card__stats-bot {
    display: flex;
}

.hero-card__stats-left {
    flex: 3;
    border-right: 1px solid #c2c6cd;
}

.hero-card__stats-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-card.hero-card--selected {
    border: 2px solid #000;
}

.hero-card__footer {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    padding: 10px 0;
}

.hero-card__basic-stat,
.hero-card__stats_list-item,
.hero-card__stats-top {
    font-size: 13px;
}

.hero-card__action {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
