header.navigation-bar {
    background-color: #1a202c;
}

.navigation-bar__options {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.navigation-bar__options .navigation-bar__link {
    margin-right: 15px;
    text-decoration: none;
}

header.navigation-bar .navigation-bar__text,
.navigation-bar__options .navigation-bar__link {
    color: #fff;
    font-family: 'LeagueSpartan' !important;
}

header.navigation-bar .navigation-bar__text {
    font-size: 30px;
}

header.navigation-bar .navigation-bar__text .MuiTypography-h6 {
    font-family: 'LeagueSpartan';
}

.navigation-bar__user-account {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
