header.navigation-bar {
    background-color: #4d4d4d;
}

.navigation-bar__options {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.navigation-bar__options .navigation-bar__link {
    margin-left: 15px;
    text-decoration: none;
}

header.navigation-bar .navigation-bar__text,
.navigation-bar__options .navigation-bar__link {
    color: #fff;
    font-family: 'LeagueSpartan';
}

header.navigation-bar .navigation-bar__text {
    font-size: 30px;
}
