.mint-hero-workflow__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.mint-hero-workflow .mint-hero-workflow__name {
    width: 300px;
    margin: 0 0 50px;
    color: #fff;
}

.mint-hero-workflow .mint-hero-workflow__name .MuiInput-formControl {
    color: #fff;
}

.mint-hero-workflow .mint-hero-workflow__name .MuiInput-formControl:before,
.mint-hero-workflow .mint-hero-workflow__name .MuiInput-formControl:after {
    border-bottom: 1px solid #fff;
}
